@model List<Order>
<h1>@ViewBag.CheckoutCompleteMessage</h1>
    


@foreach (var order in Model)
{
    <h4>Ordernumber: @order.Ordernumber</h4>
    @foreach (var item in order.OrderDetails)
    {
        
            <div class="alert alert-info" role="alert">
                <span class="badge bg-success">Amount: @item.Amount</span> [Price: @item.Price.ToString("c")] - @item.Product.Titel
            </div>
        
    }

<h4>Total: @order.OrderDetails.Select(m => m.Product.Price * m.Amount).Sum().ToString("c")</h4>
}

